@page
@model TuraRandi.Pages.DeleteModel

@{
    ViewData["Title"] = "Bejegyzés törlése";
}

<h1>Bejegyzés törlése</h1>

<h3>Biztosan törölni akarod?</h3>
<div>
    <h4>Testimonial</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonial.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testimonial.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonial.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testimonial.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonial.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testimonial.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonial.TestimonialText)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testimonial.TestimonialText)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Testimonial.ImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Testimonial.ImageUrl)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Testimonial.Id" />
        <input type="submit" value="Törlés" class="btn btn-danger" /> |
        <a asp-page="./Admin">Vissza a bejegyzések listájához</a>
    </form>
</div>
